.sitebar {
  border-radius: 16px;
  box-shadow: $shadow;
  margin: 10px 5px;
  padding: 40px 15px;
  background-color: $text;

  &__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 17px;
    color: $light;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 0.1px solid #dedede;
    border-top: 0.1px solid #dedede;
  }

  &__iist {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  a {
    &.active {
      .sitebar__item {
        font-weight: 700;
        background-color: $light;
        color: $text;
        border-radius: 6px;
      }
    }
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-top: 0;
    color: $light;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
  }
}
